include:
  - project: '{{ platform_scm_org }}/{{ engine_repo | default("aap-casc-engine", true) }}'
    ref: 'main'
    file: '/pipeline-templates/gitlab/.gitlab-ci-template.yml'

variables:
  ENGINE_PROJECT_PATH: '{{ platform_scm_org }}/{{ engine_repo | default("aap-casc-engine", true) }}'
  CASC_CALLER_ROLE: '{{ caller_role | default("tenant") }}'
  CONTROL_SCM_ORG: '{{ control_scm_org }}'
  CONTROL_REPO: '{{ control_repo }}'
  CONTROL_BRANCH: '{{ control_branch }}'
