---
aap_organizations:
  - name: "{{ org_name }}"
    description: "{{ org_description }}"
    max_hosts: 0
    default_environment: "{{ org_default_ee }}"
    galaxy_credentials:
      - Ansible Galaxy
