{
    "gateway_role_team_assignments": [
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Execute",
            "content_type": "shared.organization",
            "object_id": "{{ org_name }}"
        },
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Project Admin",
            "content_type": "shared.organization",
            "object_id": "{{ org_name }}"
        },
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Inventory Admin",
            "content_type": "shared.organization",
            "object_id": "{{ org_name }}"
        },
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Credential Admin",
            "content_type": "shared.organization",
            "object_id": "{{ org_name }}"
        }
    ]
}
