{
    "gateway_role_team_assignments": [
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Execute",
            "object_id": {{ org_object_id }}
        },
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Project Admin",
            "object_id": {{ org_object_id }}
        },
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Inventory Admin",
            "object_id": {{ org_object_id }}
        },
        {
            "team": "{{ dev_team }}",
            "role_definition": "Organization Credential Admin",
            "object_id": {{ org_object_id }}
        }
    ]
}
