{
    "gateway_role_user_assignments": [
        {
            "user": "{{ admin_user }}",
            "role_definition": "Organization Admin",
            "content_type": "shared.organization",
            "object_id": "{{ org_name }}"
        }
    ]
}
