---
aap_user_accounts:
  - username: example_user
    password: change_me
    email: user@example.com
    first_name: Example
    last_name: User
    is_superuser: false
    organization: org-example
