{"controller_projects":[{"name":"prj-pbk-{{ org_id }}-example","description":"Example project — replace with your automation use-case","scm_type":"git","scm_url":"https://github.com/ansible/ansible-tower-samples.git","scm_branch":"master","organization":"org-{{ org_id }}"}]}