---
aap_teams:
  - name: {{ _effective_team_name | to_json }}
    organization: {{ _effective_aap_organization | to_json }}
    description: {{ ('Team for tenant ' ~ _effective_tenant_id) | to_json }}
