---
aap_user_accounts:
  - username: "{{ team_lead }}"
    first_name: "{{ team_lead_first_name | default('') }}"
    last_name: "{{ team_lead_last_name | default('') }}"
    email: "{{ team_lead_email | default('') }}"
    password: "{{ team_lead_password | default('change_me') }}"
    is_superuser: false
